<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LitwinLaw</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="bg-gray-300">
    <%= if Map.has_key?(assigns, :current_user) do %>
      <header class="bg-white">
        <div class="flex justify-between items-center h-12 px-4">
          <a class="text-xl" href="/">Litwin Law</a>
          <div>
            <%= link("Sign Out", to: Routes.session_path(@conn, :destroy), method: :delete, class: "font-thin inline-block align-middle") %>
            <%= img_tag(assigns.current_user.picture, alt: "User Picture", class: "h-8 inline-block ml-2 clip-circle") %>
          </div>
        </div>
      </header>
    <% end %>
    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
