<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LitwinLaw</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="bg-white">
    <%= if Map.has_key?(assigns, :current_user) do %>
      <header class="bg-white shadow-md z-10">
        <div class="flex justify-between items-center h-12 px-4">
          <div>
            <%= link(
              "Litwin Law",
              to: Routes.app_path(@conn, :index),
              class: "text-xl font-semibold text-black tracking-wide mr-4 hover:no-underline"
            ) %>
            <%= active_link(
              @conn,
              "Docs",
              to: Routes.page_path(@conn, :index),
              active: "font-semibold",
              class: "text-xl font-hairline px-2 text-gray-700 opacity-75 hover:underline"
            ) %>
            <%= active_link(
              @conn,
              "CMS",
              to: Routes.cms_path(@conn, :index),
              active: "font-semibold",
              class: "text-xl font-hairline px-2 text-gray-700 opacity-75 hover:underline"
            ) %>
          </div>
          <div>
            <%= link(
              "Sign Out",
              to: Routes.session_path(@conn, :delete),
              method: :delete,
              class: "font-thin text-gray-700 inline-block align-middle"
            ) %>
            <%= img_tag(
              assigns.current_user.picture,
              alt: "User Picture",
              class: "h-8 inline-block ml-2 clip-circle"
            ) %>
          </div>
        </div>
      </header>
    <% end %>
    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= Map.get(assigns, :inner_layout) || render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
